<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Mis Pedidos</h2>
                <div class="font-medium tracking-tight text-secondary">Haz seguimiento a los pedidos que has realizado
                </div>
            </div>
            <div class="flex items-center ml-6">
                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-up-tray'"></mat-icon>
                    <span class="ml-2">Exportar</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
            <!-- Recent transactions table -->
            <div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="overflow-x-auto mx-6">
                    <table class="w-full bg-transparent" mat-table matSort [dataSource]="pedidosDataSource"
                        [trackBy]="trackByFn" #recentTransactionsTable>

                        <!-- Tipo de pago -->
                        <ng-container matColumnDef="tipo_pago">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Tipo de pago
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{pedido.tipo_pago}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- fecha -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Fecha
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span class="pr-6 whitespace-nowrap">
                                    {{pedido.date | date:'MMM dd, y'}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- hora -->
                        <ng-container matColumnDef="hour">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Hora
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span class="pr-6 whitespace-nowrap">
                                    {{pedido.hour}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- subtotal -->
                        <ng-container matColumnDef="subtotal">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Subtotal
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{pedido.subtotal | currency:'COP'}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- total -->
                        <ng-container matColumnDef="total">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Total
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{pedido.total | currency:'COP'}}
                                </span>
                            </td>
                        </ng-container>


                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Status
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span
                                    class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                    [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': pedido.status === 'pending',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': pedido.status === 'finalizado'}">
                                    <span class="leading-relaxed whitespace-nowrap">{{pedido.status}}</span>
                                </span>
                            </td>
                        </ng-container>
<!-- TODO: -->
                        <!-- detalles -->
                        <ng-container matColumnDef="detalles">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Detalles
                            </th>
                            <td mat-cell *matCellDef="let pedido">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{pedido.detalles}}
                                </span>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="pedidosTableColumns"></tr>
                        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: pedidosTableColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
